.DS_Store
*CONFLICT*
vim/autoload/
vim/bundle/
vim/plugged/
vim/plugin/
vim/plugin/packer_compiled.vim
vim/pack/packer/start/packer.nvim/
karabiner/automatic_backups/
karabiner/karabiner.json
workstation/.terraform
workstation/nixos-nix/result
workstation/lima-nix/result
workstation/mac-nix/result
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
