<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.bauerdick.autossh</string>
    <key>LaunchOnlyOnce</key>
        <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>sleep 60; /usr/local/bin/autossh -M 17008 nix-auto sleep 99999999999</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/org.bauerdick.autossh.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/org.bauerdick.autossh.stderr</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
